In [1]:
#import pandas library
import pandas as pd

In [34]:
dict = {'Name': ['solen','eren','didar','deniz'], 
        'Gender': ['male','male','female','female'],
        'Weight': [70,67,78,78],
        'Origin': ['AU','USA','DE','TR'] }

In [35]:
sample_df = pd.DataFrame(data=dict)
print(sample_df)

    Name  Gender  Weight Origin
0  solen    male      70     AU
1   eren    male      67    USA
2  didar  female      78     DE
3  deniz  female      78     TR

In [31]:
sample_df.head

<bound method NDFrame.head of     Name  Gender  weight
0  solen    male      70
1   eren    male      67
2  didar  female      78
3  deniz  female      78>

In [41]:
sample_df.values

array([['solen', 'male', 70, 'AU'],
       ['eren', 'male', 67, 'USA'],
       ['didar', 'female', 78, 'DE'],
       ['deniz', 'female', 78, 'TR']], dtype=object)

In [39]:
sample_df[['Name','Gender']] [0:2]

    Name Gender
0  solen   male
1   eren   male

In [46]:
sample_df.Name.value_counts()

didar    1
eren     1
solen    1
deniz    1
Name: Name, dtype: int64

In [47]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

0    False
1    False
2     True
3     True
Name: Weight, dtype: bool

In [49]:
sample_df[sample_df.Weight > 70]

    Name  Gender  Weight Origin
2  didar  female      78     DE
3  deniz  female      78     TR

In [50]:
sample_df.loc[sample_df.Weight > 70]

    Name  Gender  Weight Origin
2  didar  female      78     DE
3  deniz  female      78     TR