In [1]:
import pandas as pd

In [3]:
#read the csv file 
olympics_data = pd.read_csv('../data/olympics.csv',skiprows=4)
print(olympics_data)

          City  Edition      Sport       Discipline               Athlete  \
0       Athens     1896   Aquatics         Swimming         HAJOS, Alfred
1       Athens     1896   Aquatics         Swimming      HERSCHMANN, Otto
2       Athens     1896   Aquatics         Swimming     DRIVAS, Dimitrios
3       Athens     1896   Aquatics         Swimming    MALOKINIS, Ioannis
4       Athens     1896   Aquatics         Swimming    CHASAPIS, Spiridon
...        ...      ...        ...              ...                   ...
29211  Beijing     2008  Wrestling  Wrestling Gre-R        ENGLICH, Mirko
29212  Beijing     2008  Wrestling  Wrestling Gre-R  MIZGAITIS, Mindaugas
29213  Beijing     2008  Wrestling  Wrestling Gre-R       PATRIKEEV, Yuri
29214  Beijing     2008  Wrestling  Wrestling Gre-R         LOPEZ, Mijain
29215  Beijing     2008  Wrestling  Wrestling Gre-R        BAROEV, Khasan

       NOC Gender                       Event Event_gender   Medal
0      HUN    Men              100m freestyle            M    Gold
1      AUT    Men              100m freestyle            M  Silver
2      GRE    Men  100m freestyle for sailors            M  Bronze
3      GRE    Men  100m freestyle for sailors            M    Gold
4      GRE    Men  100m freestyle for sailors            M  Silver
...    ...    ...                         ...          ...     ...
29211  GER    Men                   84 - 96kg            M  Silver
29212  LTU    Men                  96 - 120kg            M  Bronze
29213  ARM    Men                  96 - 120kg            M  Bronze
29214  CUB    Men                  96 - 120kg            M    Gold
29215  RUS    Men                  96 - 120kg            M  Silver

[29216 rows x 10 columns]

In [4]:
olympics_data.shape

(29216, 10)

In [5]:
#how many medals are presented in the olympics
olympics_data.Edition.value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [6]:
#how many men versus woman get the medal
olympics_data.Gender.value_counts()

Men      21721
Women     7495
Name: Gender, dtype: int64

In [7]:
#how much each country get the medal
olympics_data.NOC.value_counts()

USA    4335
URS    2049
GBR    1594
FRA    1314
ITA    1228
       ...
GUY       1
TGA       1
DJI       1
MRI       1
TOG       1
Name: NOC, Length: 138, dtype: int64

In [17]:
(olympics_data.NOC.value_counts() > 3000) & (olympics_data.NOC.str.contains('US'))

0      False
1      False
2      False
3      False
4      False
       ...
VIE    False
YUG    False
ZAM    False
ZIM    False
ZZX    False
Name: NOC, Length: 29354, dtype: bool